/****** Object:  Table [TEST].[TestTable]    Script Date: 3/10/2026 9:27:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEST].[TestTable](
	[ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](255) NULL
) ON [PRIMARY]
GO
